.background{
  background-color: #f54242;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.text-editor{
  background-color: white;
  margin-right: 3rem;
  margin-left: 3rem;
  border: 2px solid black;
}
.text{
margin: 0;

}
.navbar{
  background-color: black;
  color: #f54242;
  padding: 1rem;
  margin-bottom: 3rem;
  font-size: larger;
}
.lock{
  background-color: black;
  padding: 1rem;
}
.material-icons{
  color: white;
  margin-left: 85rem;
}
.submit{
  text-align: center;
  margin-top: 1rem;
}
.sub{
  padding-left: 1rem;
  padding-right: 1rem;
  color: #f54242;

}
